:root {
  --screen-height: 560px;
  --splash-bg-color: linear-gradient(90deg, rgba(168,146,58,1) 0%, rgba(192,170,86,1) 35%);
}
* {
  box-sizing: border-box;
}
body {
  background-image: url('../background.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-family: 'Poppins', sans-serif;
  min-height: 100%;
  overflow-x: hidden;
}
.btn {
  min-width: 193px;
  height: 50px;
  border-radius: 25px;
  border: none;
  outline: none;
  background: var(--splash-bg-color);
  font-size: 15px;
  line-height: 1.5;
  color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  cursor: pointer;
}
/* header style */
.header {
  display: flex;
  justify-content: space-between;
  height: 25%;
}
.header .btn {
  margin-top: 1rem;
}
.header .logo {
  display: flex;
  justify-content: center;
}
.header .logo img {
  width: 60%;
}
/* navbar style */
.nav {position: relative;}
.nav__toggle {
  display: inline-block;
  position: absolute;
  z-index: 10;
  padding: 0;
  border: 0;
  background: transparent;
  outline: 0;
  left: 15px;
  top: 15px;
  cursor: pointer;
  border-radius: 50%;
  transition: background-color 0.15s linear;
}
.nav__toggle:hover, .nav__toggle:focus {
  background-color: rgba(0, 0, 0, .5);
}
.nav__menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: var(--screen-height);
  position: relative;
  z-index: 5;
  visibility: hidden;
  list-style: none;
  position: absolute;
  left: -116px;
  top: 107px;
}
.nav__item {
  opacity: 0;
  transition: all 0.3s cubic-bezier(0, 0.995, 0.99, 1) 0.3s;
  transform: rotate(-90deg);
}
.nav__item:nth-child(1) {
  transform: translateY(-40px);
}
.nav__item:nth-child(2) {
  transform: translateY(-80px);
}
.nav__item:nth-child(3) {
  transform: translateY(-120px);
}
.nav__link {
  color: white;
  display: block;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 1.25rem;
  text-decoration: none;
  padding: 1rem;
}
.nav__link:hover, .nav__link:focus {
  outline: 0;
  background-color: rgba(0, 0, 0, 0.2);
}
/* svg style */
.menuicon {
  display: block;
  cursor: pointer;
  color: white;
  transform: rotate(0deg);
  transition: 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.menuicon__bar, .menuicon__circle {
  fill: none;
  stroke: currentColor;
  stroke-width: 3;
  stroke-linecap: round;
}
.menuicon__bar {
  transform: rotate(0deg);
  transform-origin: 50% 50%;
  transition: transform 0.25s ease-in-out;
}
.menuicon__circle {
  transition: stroke-dashoffset 0.3s linear 0.1s;
  stroke-dashoffset: 144.513262038;
  stroke-dasharray: 144.513262038;
}
.nav:target .menuicon, .nav--open .menuicon {
  color: white;
  transform: rotate(180deg);
}
.nav:target .menuicon__circle, .nav--open .menuicon__circle {
  stroke-dashoffset: 0;
}
.nav:target .menuicon__bar:nth-child(1), .nav--open .menuicon__bar:nth-child(1), .nav:target .menuicon__bar:nth-child(4), .nav--open .menuicon__bar:nth-child(4) {
  opacity: 0;
}
.nav:target .menuicon__bar:nth-child(2), .nav--open .menuicon__bar:nth-child(2) {
  transform: rotate(45deg);
}
.nav:target .menuicon__bar:nth-child(3), .nav--open .menuicon__bar:nth-child(3) {
  transform: rotate(-45deg);
}
.nav:target .nav__menu, .nav--open .nav__menu {
  visibility: visible;
}
.nav:target .nav__item, .nav--open .nav__item {
  opacity: 1;
  transform: translateY(0);
  transform: rotate(-90deg);
  margin-bottom: 7rem;
}
/* end svg */
/* end navbar */
/* end header */
/*----------------------------------------------------------------*/

/* content style */
.contact1 {
  width: 100%;
  min-height: 100%;
  padding: 15px;
  padding-top: 100px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.contact1-title {
  display: block;
  color: #fff;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
}
.container-contact1 {
  width: 1163px;
  border-radius: 10px;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 40px 130px 88px 148px;
}
.contact1-form {width: 390px;}
input.input1 {
  height: 50px;
  border-radius: 25px;
  padding: 0 30px;
}
input.input1 + .shadow-input1 {border-radius: 25px;}
textarea.input1 {
  min-height: 150px;
  border-radius: 25px;
  padding: 12px 30px;
}
textarea.input1 + .shadow-input1 {border-radius: 25px;}
.wrap-input1 {
  position: relative;
  width: 100%;
  z-index: 1;
  margin-bottom: 20px;
}
.input1 {
  display: block;
  width: 100%;
  background: #fff;
  line-height: 1.5;
  outline: none;
  border: none;
}
.shadow-input1 {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 0px 0px;
  color: rgba(87,184,70, 0.5);
}
.input1:focus + .shadow-input1 {
  -webkit-animation: anim-shadow 0.5s ease-in-out forwards;
  animation: anim-shadow 0.5s ease-in-out forwards;
}
@-webkit-keyframes anim-shadow {
  to {
    box-shadow: 0px 0px 80px 30px;
    opacity: 0;
  }
}
@keyframes anim-shadow {
  to {
    box-shadow: 0px 0px 80px 30px;
    opacity: 0;
  }
}
.container-contact1-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.contact1-list {
  color: #fff;
  width: 45%;
  position: relative;
  top: -75px;
}
.contact1-list h3 {text-transform: uppercase;}
.contact1-list .list, .contact1-list .icon-list {
  list-style: none;
}
.contact1-list .list li {margin-bottom: 1rem;}
.contact1-list .icon-list li i {margin-right: 1.5rem;}
/* end content */
/*-------------------------------------------------------------*/

/* Responsive */
@media (max-width: 1200px) {
  .contact1-form {width: 44%;}
}
@media (max-width: 992px) {
  .container-contact1 {padding: 20px 80px 88px 90px;}
  .contact1-form {width: 55%;}
  .contact1-list {
    position: relative;
    top: 50px;
    width: 100%;
  }
}
@media (max-width: 768px) {
  .container-contact1 {padding: 70px 80px 88px 80px;}
  .contact1-form {width: 90%;margin: auto;}
}
@media (max-width: 576px) {
  .header .btn {
    min-width: 101px;
    height: 47px;
    font-size: 12px;
    margin-top: .6rem;
  }
  .header .logo {
    display: block;
    margin: 0 auto;
    position: relative;
    left: 23%;
  }
  .header .logo img {width: 50%;}
  .contact1 {padding-top: 40px;}
  .container-contact1 {padding: 35px 15px 88px 15px;}
  .contact1-title {font-size: 1.5rem;}
  .contact1-list {width: 100%;}
}

/* end Responsive */

.animate__animated.animate__zoomIn,
.animate__animated.animate__fadeInDown,
.animate__animated.animate__jackInTheBox {
  --animate-duration: 2s;
}